*{
    padding: 0;
    margin: 0;
}
html,body,#photowall,.stage,.picture{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-color: #ebebeb;
    perspective: 800px;

}
.stage {
    perspective: 800px;
    /*transform-style: preserve-3d;*/

}
.stage > div{
    cursor: pointer;
}
.picture{
    transform-style: preserve-3d;
}
.picture > div{
    background-color: #fffad6;
    width: 300px;
    height: 360px;
    position: absolute;
    transition: all .5s ease;
    transform-style: preserve-3d;
    /*transform : rotate(10deg)*/
}
.picture  img{
    width: 240px;
    height: 240px;
    position: relative;
    /*margin: 0 auto;*/
    margin-left: 30px;
    margin-top: 30px;
}

.picture div div{
    width: 300px;
    height: 360px;
    margin-top:-290px;
    transform : rotateY(180deg);
    background-color: white;
}