<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div id="app">
    <div v-html="list"></div>
    <div v-text="list"></div>

    <div v-model="list"></div>
    <!--<ul>-->
        <!--<li v-for="(val,index) in list">{{val}},索引:{{index}}</li>-->
    <!--</ul>-->
    <!--<ul>-->
        <!--<li v-for="(val,index) in list1">{{val.name}},{{val.age}},索引:{{index}}</li>-->
    <!--</ul>-->
    <!--<ul>-->
        <!--<li v-for="(obj,key,index) in obj">{{key}}=={{obj}},index:{{index}}</li>-->
    <!--</ul>-->
    <ul>
        <li v-for="n in 10">{{n}}</li>
    </ul>
</div>

<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            list:[1,2,3,4,5],
            list1:[{name:"lgc",age:22},{name:"llllll",age:99}],
            obj:{
                name:"ccccccccc",
                age:30
            }
        },
        methods:{

        }
    })
</script>


</body>
</html>